body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'lato', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
}
.title{
    color: var(--Dark-01, #181818);
    font-size: 35px;, 41
    font-weight: 800;
}
.logo{
    color:blue;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 25px;
}
nav a {
    text-decoration: none;
    color:blue;
}
main section{
    margin: 0px;
}
.name{
    color:blue;
}
.button{
border-radius: 5px;
background: blue;
border: 0;
font-size: 25px;
font-style: normal;
font-weight: 700;
color:white;
}
.header{
    background-color:antiquewhite;
    background-image: url('../header_bg.png');
   
}
.bannar{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.nakib{
    width: 484px;
    height: 476px;
    flex-shrink: 0;
    margin-right: 0;
    padding:0;
}
.about{
    padding: 100px;
    border-radius: 10px;
    background:rgb(99, 99, 240);
    margin:130px 0;
    box-shadow:10px 16px 40px 0px rgba(0, 0, 0, 0.658);
}
.me{
 color:black;
text-align: center;
font-size: 35px;
font-weight: 700;
}

.intro{
    color: black;
    text-align: center;
    font-size: 18px;
}

main{
    max-width: 1140px;
    margin:0 auto;

}
#what{
    padding: 30px 150px;
}
.skills{
    display: flex;
    gap:24px
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: rgba(254, 254, 255, 0.945);
    box-shadow: 10px 16px 40px 0px rgba(0, 0, 0, 0.658); 
}
.skill-description{
    color:grey;
}
.skill-title{
    color: black;
}
.resume-coloumn-title{
    color: var(#474747);
    font-size: 30px;
    font-weight: 700;
    }